{% extends "Layouts/base.html.twig" %}

{% block title %}Topic{% endblock %}

{% block content %}
<section class="topic">

    <div class="reg-pict" style="background-image: url({{ asset('images/pict7.jpg') }}); height: 100vh; width: 100%; background-size: cover;">
        <div class="container">
            <div class="col-lg-12">

                <h1 class="title">Question n° {{ question.id }}</h1>

                <h3 class="title">Ennoncé :</h3>
                <h4 class="title">{{ question.description }}</h4>
                <br />
                
                <h3 class="title">Réponses : </h3>

                <hr>

                {% for key, reply in question.replies %}
                    <h4 class="title">
                        {{ key + 1 }}) {{ reply.description }}
                    </h4>

                    <hr />
                {% endfor %}

                <br />
            </div>

            <div class="col-lg-6">

                <h2 class="title">Nouvelle réponse</h2>

                <form class="topic" action="{{ path(form.action, 'post', { 'topic_id': question.topic.id, 'question_id': question.id }) }}" method="post" class="base-form">
                    {% for key, value in form.fields %}
                        <label class="title">{{ value.label }} :</label>
                        <input name="{{key}}" type="{{ value.type }}"/><br />
                    {% endfor %}

                    {% if form.submit %}
                        <input type="submit" value="{{ form.submit.label }}" class="button-style"/>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}