{% extends "Layouts/base.html.twig" %}

{% block title %}Topic{% endblock %}

{% block content %}
    <section class="topic">

        <div class="reg-pict" style="background-image: url({{ asset('images/pict7.jpg') }}); height: 100vh; width: 100%; background-size: cover;">
            <div class="container">

                <h1 class="title">Liste des QCMs</h1>

                <br />

                {% for key, qcm in qcms %}
                    <a href="{{ path('qcm', 'get', {'id': qcm.id}) }}">
                        {% if loop.first %}
                            <div class="line line-first">
                        {% else %}
                            <div class="line">
                        {% endif %}
                            <h4 class="title">
                                {{ key+1 }}) {{ qcm.description }}
                            </h4>
                                <p class="title">Difficulté : {{ qcm.difficulty }}</p>
                            </div>
                    </a>

                    {#<h4 class="title">
                        {{ qcm.description }}
                    </h4>
                    <p class="title" style="float: left;">Difficulté : {{ qcm.difficulty }}</p>
                    <a href="{{ path('qcm', 'get', {'id': qcm.id}) }}" style="float: right">Editer</a>

                    <div style="clear: both"></div>
                    <hr>#}
                {% endfor %}

                <br />

                <h3><a href="{{ path('new_qcm', 'get') }}" style="float: right;">Créer un nouveau qcm</a></h3>
            </div>
        </div>
    </section>
{% endblock %}